[run]
# enable branch coverage in addition to statement coverage
branch = True

[report]
exclude_lines =
  pragma: no cover
  def check_crypto_libraries
  def _get_password
  def __str__
  if __name__ == .__main__.:

omit =
  */ssl_crypto/_vendor/*
  */site-packages/*
