[run]
# enable branch coverage in addition to statement coverage
branch = True

omit =
  */tests/*
  */python?.?/*
  */site-packages/*

[report]
exclude_lines =
  pragma: no cover
  if __name__ == .__main__.:
