language:
    python

python:
    - "2.7"

env:
    - TOXENV=lint
    - TOXENV=py27

install:
    - pip install tox
    - pip install coveralls

script:
    - gpg2 --version
    - tox

after_success:
    coveralls
