language:
    python

python:
    - "2.7"

env:
    - TOXENV=lint
    - TOXENV=py27
    - TOXENV=py34
    - TOXENV=py35
    - TOXENV=py36

install:
    - pip install tox
    - pip install coveralls

script:
    - tox

after_success:
    coveralls
