include LICENSE
include README.md

# Add tests and test data
recursive-include tests *
global-exclude *.py[cod] __pycache__ *.so .coverage

# Add test config files to show how to run tests
include .coveragerc
include tox.ini
include .travis.yml
include requirements*.txt
