# in-toto runtime dependencies required by sphinx
-r requirements-pinned.txt

# sphinx extensions
sphinx-rtd-theme
sphinx-argparse
# FIXME: Use sphinx built-in Napoleon (coordinate with in-toto/in-toto#401)
git+https://github.com/secure-systems-lab/napoleon.git@v0.7-1
recommonmark
