Source: in-toto
Section: devel
Priority: optional
Maintainer: in-toto developers <in-toto-dev@googlegroups.com>
Uploaders:
 Santiago Torres-Arias <santiago@nyu.edu>,
 Lukas Puehringer <lukas.puehringer@nyu.edu>,
 Holger Levsen <holger@debian.org>,
 Justin Cappos <jcappos@nyu.edu>,
Build-Depends:
 dh-python,
 debhelper (>= 11~),
 python3-all,
 python3-setuptools,
 python3-securesystemslib (>= 0.11.3),
 python3-attr,
 python3-dateutil,
 python3-six,
 python3-iso8601,
 python3-pathspec,
 python3-mock,
Homepage: https://in-toto.io
Vcs-Git: https://github.com/in-toto/in-toto.git
Vcs-Browser: https://github.com/in-toto/in-toto

Package: python3-in-toto
Architecture: all
Depends:
  ${python3:Depends},
  ${misc:Depends},
Recommends:
 gpg,
Description: in-toto is a software supply chain security framework. It enables
 developers to authenticate operations in the supply chain and verify the
 authentication trail when releasing or installing a software product.
