Source: in-toto
Section: utils
Priority: optional
Maintainer: in-toto developers <in-toto-dev@googlegroups.com>
Uploaders:
 Santiago Torres-Arias <santiago@nyu.edu>,
 Lukas Puehringer <lukas.puehringer@nyu.edu>,
 Holger Levsen <holger@debian.org>,
 Justin Cappos <jcappos@nyu.edu>,
Build-Depends:
 dh-python,
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 python3-all,
 python3-hatchling,
 python3-attr,
 python3-dateutil,
 python3-iso8601,
 python3-pathspec,
 python3-cryptography,
 python3-nacl,
 python3-securesystemslib (>= 0.26.0),
 gnupg2,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://in-toto.io
Vcs-Git: https://github.com/in-toto/in-toto.git -b debian
Vcs-Browser: https://github.com/in-toto/in-toto

Package: in-toto
Architecture: all
Depends:
  python3-pkg-resources,
  python3-cryptography,
  python3-nacl,
  ${python3:Depends},
  ${misc:Depends},
Recommends:
 gnupg2,
Description: software supply chain security framework
 in-toto provides tools both for software developers to authenticate operations
 in the supply chain, as well as for end-users to verify the authentication
 trail when installing a software product.
 .
 in-toto is developed at the Secure Systems Lab of NYU.
