{
    "signed" : {
    "_type": "layout",
    "readme" : "",
    "inspect": [
        {
            "_type": "inspection",
            "expected_materials": [
                [
                    "MATCH",
                    "foo.tar.gz",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "package"
                ],
                [
                    "ALLOW",
                    "*"
                ]
            ],
            "expected_products": [
                [
                    "MATCH",
                    "foo.py",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "write-code"
                ],
                [
                    "ALLOW",
                    "*"
                ]
            ],
            "name": "untar",
            "run": [
                "tar",
                "xfz",
                "foo.tar.gz"
            ]
        }
    ],
    "keys": {
        "0c6c50a1c30f3c0ce179598bf49502d2a89ccc2dccc4db5adcaf83b9f309d117": {
            "keyid": "0c6c50a1c30f3c0ce179598bf49502d2a89ccc2dccc4db5adcaf83b9f309d117",
            "keytype": "rsa",
            "keyval": {
                "private": "",
                "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA0Zfzonp3/FScaIP+KKuz\nB+OZNFpjbVGWjm3leqnFqHYLqrLcCw5KhlXpycJqoSvZBpO+PFCksUx8U/ryklHG\nVoDiB84pRkvZtBoVaA4b4IHDIhz1K5NqkJgieya4fwReTxmCW0a9gH7AnDicHBCX\nlzMxqEdt6OKMV5g4yjKaxf8lW72O1gSI46GSIToo+Z7UUgs3ofaM5UFIcczgCpUa\n5kEKocB6cSZ9U8PKRLSs0xO0ROjrcOTsfxMs8eV4bsRCWY5mAq1WM9EHDSV9WO8g\nqrRmanC4enNqa8jU4O3zhgJVegP9A01r9AwNt6AqgPSikwhXN/P4v1FMYV+R6N3b\nS1lsVWRAnwBq5RFz5zVvcY88JEkHbrcBqP/A4909NXae1VMXmnoJb4EzGAkyUySB\na+fHXAVJgzwyv3I48d/OIjH8NWcVmM/DQL7FtcJk3tp0YUjY5wNpcbQTnLzURtlU\nsd+MtGuvdlDxUUvtUYCIVKRdS8UzYnTPjI2xzeoSHZ2ZAgMBAAE=\n-----END PUBLIC KEY-----"
            }
        },
        "c1ae1e516e00e9cab671b3302b0b861cd1cd22d175e6c6dc49ad8c271c91a5b8": {
            "keyid": "c1ae1e516e00e9cab671b3302b0b861cd1cd22d175e6c6dc49ad8c271c91a5b8",
            "keytype": "rsa",
            "keyval": {
                "private": "",
                "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAzgLBsMFSgwBiWTBmVsyW\n5KbJwLFSodAzdUhU2Bq6SdRz/W6UOBGdojZXibxupjRtAaEQW/eXDe+1CbKg6ENZ\nGt2D9HGFCQZgQS8ONgNDQGiNxgApMA0T21AaUhru0vEofzdN1DfEF4CAGv5AkcgK\nsalhTyONervFIjFEdXGelFZ7dVMV3Pp5WkZPG0jFQWjnmDZhUrtSxEtqbVghc3kK\nAUj9Ll/3jyi2wS92Z1j5ueN8X62hWX2xBqQ6nViOMzdujkoiYCRSwuMLRqzW2CbT\nL8hF1+S5KWKFzxl5sCVfpPe7V5HkgEHjwCILXTbCn2fCMKlaSbJ/MG2lW7qSY2Ro\nwVXWkp1wDrsJ6Ii9f2dErv9vJeOVZeO9DsooQ5EuzLCfQLEU5mn7ul7bU7rFsb8J\nxYOeudkNBatnNCgVMAkmDPiNA7E33bmL5ARRwU0iZicsqLQR32pmwdap8PjofxqQ\nk7Gtvz/iYzaLrZv33cFWWTsEOqK1gKqigSqgW9T26wO9AgMBAAE=\n-----END PUBLIC KEY-----"
            }
        }
    },
    "steps": [
        {
            "_type": "step",
            "expected_command": [],
            "expected_materials": [],
            "expected_products": [
                [
                    "CREATE",
                    "foo.py"
                ]
            ],
            "name": "write-code",
            "pubkeys": [
                "0c6c50a1c30f3c0ce179598bf49502d2a89ccc2dccc4db5adcaf83b9f309d117"
            ],
            "threshold": 1
        },
        {
            "_type": "step",
            "expected_command": [
                "tar",
                "zcvf",
                "foo.tar.gz",
                "foo.py"
            ],
            "expected_materials": [
                [
                    "MATCH",
                    "foo.py",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "write-code"
                ]
            ],
            "expected_products": [
                [
                    "CREATE",
                    "foo.tar.gz"
                ],
                [
                    "ALLOW",
                    "foo.py"
                ]
            ],
            "name": "package",
            "pubkeys": [
                "c1ae1e516e00e9cab671b3302b0b861cd1cd22d175e6c6dc49ad8c271c91a5b8"
            ],
            "threshold": 1
        }
    ]
  },
  "signatures": []
}
