{
    "_type": "layout",
    "inspect": [
        {
            "_type": "inspection",
            "material_matchrules": [
                [
                    "MATCH",
                    "foo.tar.gz",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "package"
                ],
                [
                    "ALLOW",
                    "*"
                ]
            ],
            "name": "untar",
            "product_matchrules": [
                [
                    "MATCH",
                    "foo.py",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "write-code"
                ],
                [
                    "ALLOW",
                    "*"
                ]
            ],
            "run": "tar xfz foo.tar.gz"
        }
    ],
    "keys": {
        "2dc025263ba09a6a996cce10426033427cc84cc4c0b51459350ccb13a04b47bd": {
            "keyid": "2dc025263ba09a6a996cce10426033427cc84cc4c0b51459350ccb13a04b47bd",
            "keytype": "rsa",
            "keyval": {
                "private": "",
                "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAudRRW13Bta+pVHixjJYR\ne5EVK/8FmQ01YbCS8pfcbSGryMcTOgzit32bEwVSHrkWTjbKi41DHKOchHm/5DJH\ngExGLG19egp/axuIxjFzXFvTg5X4rj2om4S8god+b//YBk9WNnYVi+SmWrt1zmlr\noSP/oMKYXDeuf2n33bMD7yf2R4y7CeMwcSfTqz3UOmw/GyuIiRRMFzvFRAHTUGWb\n6ZO6Q7C17qSwJLqSntKWBHRbG1MxvmBx6eK32Y/AOxJ089rrqgZzjYLFq2M+NFUa\nmzkGVqa2HB2kgsEvrftpvIFT/2MAl0pEZSDp/59yoR1PNYu25f7TeeL6Wfx34uY9\nyJrWLmLf6zCG0BPbOkS/YedoqC25863N4qu4w+rchihfha2IsSSnCrQ4Iibi4eHK\nVHKwObr6VyFYPP2MCUFdoeCYwMU2fZ/WtkeR61iRLrruwz73z+7HnzEFvbwimJxg\n+d+XjDeb/ETruAZfKmYmoGSGMF1m/QApbiGEDZbRwulPAgMBAAE=\n-----END PUBLIC KEY-----"
            }
        },
        "c8650e01ec099466cec16b0c61db1793574d0561152f49aa8334ac8b4408a421": {
            "keyid": "c8650e01ec099466cec16b0c61db1793574d0561152f49aa8334ac8b4408a421",
            "keytype": "rsa",
            "keyval": {
                "private": "",
                "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA0m/XaG7AmN29kWm69Fzz\novBjlzNn/V0B+0mRZMijgJ41NCZmMXDwlEX4OE09f9DEmAOrJH8zjrWQwh3ySuEy\nsoE9zQhlyHL1OsuBS1c1gaOWWGP004b9U1i3NuQl5NQhYMLab1BLUIR/fMC+Turo\ny+eDT7hdcKWqHx/QpWqW05jV/5Aa2BVIlwfva5YZmPf9oyqyeehJBeg2kG9mz7kB\nbe5YvT6maxNvrORmPSLi4Zeml7VDkWl04VTrBXoe3j5+UXlOq1MIuv6XkgBhpkXh\n7vGrJNz8UW32J0ZAPJeXuOkoSB+8CF/m02nn2twNWPUAlmv+RITyO4Y8rL5eypHX\ngUlylaJWXD2EbJhdbS8etPhJUZgQ3QgMl7698+LldLzJP1242aB5pQpADDQF6Urx\ntibpT1V5x/bT28fPwxLdb0Dos9tVM6rNCkk2UFL7YwZqkkrJzwsHysLbiS/KfF/g\nsacTIfHl/x1thENtPtA+kR6zVJXFrune3SyM/aFPXF0ZAgMBAAE=\n-----END PUBLIC KEY-----"
            }
        }
    },
    "signatures": [],
    "steps": [
        {
            "_type": "step",
            "expected_command": "",
            "material_matchrules": [],
            "name": "write-code",
            "product_matchrules": [
                [
                    "CREATE",
                    "foo.py"
                ]
            ],
            "pubkeys": [
                "c8650e01ec099466cec16b0c61db1793574d0561152f49aa8334ac8b4408a421"
            ],
            "threshold": 1
        },
        {
            "_type": "step",
            "expected_command": "tar zcvf foo.tar.gz foo.py",
            "material_matchrules": [
                [
                    "MATCH",
                    "foo.py",
                    "WITH",
                    "PRODUCTS",
                    "FROM",
                    "write-code"
                ]
            ],
            "name": "package",
            "product_matchrules": [
                [
                    "CREATE",
                    "foo.tar.gz"
                ],
                [
                    "ALLOW",
                    "foo.py"
                ]
            ],
            "pubkeys": [
                "2dc025263ba09a6a996cce10426033427cc84cc4c0b51459350ccb13a04b47bd"
            ],
            "threshold": 1
        }
    ]
}